/* created by shivam gupta 8/24/2016*/
	/*Need to update image file url*/
	
	/*Modal Pop up CSS start */
	.openModal-outer{
		position : absolute;
		font-family: Arial, Helvetica, sans-serif;
		top : 0px;
		left : 0px;
		right : 0px;
		bottom : 0px;
		pointer-events : auto;
		background-color : rgba(125,125,125,0.7);
		display : flex;
		display: -ms-flexbox; 
		display: -webkit-flex;
		justify-content : center;
		align-items : center;
		Z-index : 1000;
	}
	
	.openModal-inner{
		width : 400px;
		height : 150px;
		z-index : 1000;
		background-color : #fff;
		overflow : auto;
		pointer-events : auto;
		border-radius: 5px 5px 0 0; 
	}
	
	.modal-close-btn{
		width: 18px;
		height: 18px;
		background : url("invoicePopupClose.png");
		float : right;
		margin : 12px;
	}
	.modal-close-btn:hover{
		background-position : 0 -18px;
	} 
	.modalPopupHeader{
		background : url("on_behalf_of_popup_header_bg.jpg");
		white-space : nowrap;
		line-height: 100%;
		width : inherit;
		height: 41px;
		font-size: 16px;
		font-weight: bold;
		font-family: Arial;
		position : fixed;
		Z-index : 1000;
		border-radius: inherit;
	} 
	.modalPopupHeader .modalPopupTitle{
		float : left;
		margin : 12px;
		cursor : default;
	}
	.modal-data-div{
		margin-top : 40px;
	}
	/*Modal Pop up CSS end */